
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4efe9;
    color: #171717;
}

header {
    height: 80px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d0c8;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #171717;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #77716c;
}

.inicio {
    min-height: 600px;
    padding: 80px 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.titulo-pequeno,
.titulo-secao {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #77716c;
}

.inicio h1 {
    margin: 25px 0;
    font-size: 70px;
    line-height: 1;
}

.texto-inicio > p:last-child {
    max-width: 480px;
    line-height: 1.6;
    color: #68625e;
}

.imagem-inicio {
    height: 450px;
    background: #c9b8aa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-inicio::after {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
}

.circulo {
    display: none;
}

.sobre {
    padding: 100px 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    background: #171717;
    color: white;
}

.sobre h2,
.titulo-beneficios h2 {
    font-size: 55px;
    line-height: 1.1;
    margin-top: 20px;
}

.sobre .titulo-secao,
.titulo-beneficios .titulo-secao {
    color: #aaa29b;
}

.texto-sobre {
    align-self: center;
}

.texto-sobre p {
    font-size: 17px;
    line-height: 1.7;
    color: #c4beb9;
    margin-bottom: 20px;
}

.estilos {
    padding: 100px 7%;
}

.titulo-estilos {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
}

.titulo-estilos h2 {
    font-size: 55px;
    margin-top: 20px;
}

.titulo-estilos > p {
    max-width: 270px;
    line-height: 1.6;
    color: #77716c;
}

.cartoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cartao {
    min-height: 350px;
    padding: 30px;
    background: #e5d9ce;
}

.cartao:nth-child(2) {
    background: #d4c3b5;
}

.cartao:nth-child(3) {
    background: #c5b2a3;
}

.numero {
    font-size: 12px;
}

.icone-cartao {
    margin-top: 60px;
    font-size: 40px;
}

.cartao h3 {
    font-size: 22px;
    margin-top: 40px;
}

.cartao p {
    margin-top: 15px;
    line-height: 1.6;
    color: #625b55;
}

.beneficios {
    padding: 100px 7%;
    background: #ded3ca;
    display: grid;
    grid-template-columns: right;
    gap: 80px;

}

.lista-beneficios div {
    padding: 25px 20px;
    
}

.lista-beneficios span {
    font-size: 11px;
    font-weight: bold;
    color: #77716c;
}

.lista-beneficios h3 {
    margin: 15px 0 8px;
    font-size: 19px;
}

.lista-beneficios p {
    color: #68615c;
    line-height: 1.5;
    font-size: 14px;
}

@media (max-width: 800px) {
    header {
        height: auto;
        padding: 25px 7%;
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 18px;
    }

    .inicio,
    .sobre,
    .beneficios {
        grid-template-columns: 1fr;
    }

    .inicio h1 {
        font-size: 55px;
    }

    .imagem-inicio {
        height: 350px;
    }

    .cartoes {
        grid-template-columns: 1fr;
    }

    .titulo-estilos {
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }

    .titulo-estilos h2,
    .sobre h2,
    .titulo-beneficios h2 {
        font-size: 45px;
    }

    .lista-beneficios {
        grid-template-columns: 1fr;
    }
}

.dança-grupo, img{
    border-radius: 15px;
    border: #68615c grid;
}